* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Baseline and classes */
html {
    background-color: #000;
}

body {
    background-color: #fff;
}

img {
    border-radius: 10px;
}

.icon {
    height: 18px;
    margin-right: 5px;
    
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.image-container {
    width: 100%;
    justify-content: center;
    margin: auto;
}

.black-background {
    background-color: #000;
    color: #fff;
}

.main-image {
    max-width: 80%;
}

.no-bullets {
    list-style: none;
    padding-left: 0;
}

/* Header section */
header {
    padding-bottom: 10px;
    padding-top: 10px;
}

header h1 {
    text-align: center;
    font-size: 48px;
    margin: 5px;
}

header ul {
    display: flex;
    justify-content: center;
}

header li {
    list-style: none;
    margin: 0 10px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

/* Main section */
main {
    padding-bottom: 10px;
}

main p {
    font-size: 16px;
}

section {
    text-align: center;
}

section div {
    margin: auto 10px;
}

main p a,
main li a {
    color: #000;
}

main ul {
    display: table;
    text-align: left;
    margin: 0 auto;
}

form {
    display: table;
    text-align: left;
    margin: 0 auto;
}

form label {
    display: block;
}

form input[type="email"] {
    width: 13rem;
}

form input[type="text"],
form input[type="email"], 
form textarea {
    margin-bottom: 10px;
    font-size: 14px;
}

form button {
    display: block;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
}

form button:hover {
    transition-duration: .13s;
    background-color: #fff;
    color: #000;
}

/* Footer section */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer h3 {
    text-align: center;
}

/* Wider view */
@media all and (min-width: 750px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header nav {
        margin-top: 18px;
        margin-right: 5px;
    }

    header li a:hover {
        color: #ddd;
    }

    .main-image {
        max-width: 500px;
    }

    main p a:hover,
    main li a:hover {
        color: #333;
    }

    form {
        display: block;
    }

    .form-flex {
        display: flex;
    }

    form input[type="text"] {
        margin-right: 10px;
    }

    form textarea {
        width: 502px;
        height: 9rem;
    }

    form button {
        margin: auto;
    }

    form label {
        margin-right: 3px;
    }
}