:root {
  --clr-primary: #2f353b;
  --clr-primary-light: #3d5b79;
  --clr-primary-click: #314861;

  --clr-bg-light: #f5f9ff;

  --clr-text-light: #f2f8ff;
  --clr-text-light-hover: #d2e5ff;
  --clr-text-light-press: #d9e9ff;
}

html,
body {
  background-color: var(--clr-bg-light);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-primary {
  background-color: var(--clr-primary) !important;
}

.section-title {
  text-align: center;
  border-radius: 10%;
  border-bottom: 1px solid #cecece;
  max-width: 60%;
  margin: auto;
  margin-top: 50px;
}

/* #region Navigation */
.padding {
  padding: 35px;
  background-color: var(--clr-primary);
}

nav {
  /* border-bottom: 1px solid var(--clr-text-light); */
  filter: drop-shadow(0 -10px 20px black);
  z-index: 100;
}

.nav-link {
  color: var(--clr-text-light);
  transition: 0.33s;
}

.nav-link {
  border-right: 1px solid var(--clr-text-light-hover);
}

.nav-link:last-of-type {
  border: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-text-light);
  background-color: var(--clr-primary-light);
}

.nav-link:active {
  color: var(--clr-text-light);
  background-color: var(--clr-primary-click);
}
/* #endregion Navigation */

/* #region About */
#about {
  background-color: var(--clr-primary);
}

.pfp-container {
  overflow: hidden;
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
}

#about-title {
  color: var(--clr-text-light);
}

#about-body {
  text-align: justify;
  background-color: var(--clr-bg-light);
}
/* #endregion About */

/* #region Projects */
.card {
  background-color: var(--clr-primary);
  color: var(--clr-text-light);
  filter: drop-shadow(0 0 10px black);
}

.stack-icon-container {
  max-width: 30px;
}

.stack-icon {
  filter: drop-shadow(1px 1px 0 var(--clr-text-light))
    drop-shadow(-1px -1px 0 var(--clr-text-light));
}

.proj-img {
  z-index: 2;
  cursor: pointer;
  transition: 0.1s;
}

.proj-img:hover {
  filter: drop-shadow(0 0 7px rgb(136, 136, 136));
}

.card-text {
  text-align: justify !important;
}

.card-link {
  color: var(--clr-text-light);
}

.card-link:hover,
.card-link:focus {
  color: var(--clr-text-light-hover);
}

.card-link:active {
  color: var(--clr-text-light-press);
}
/* #endregion Projects */

/* #region Skills */
.list-group-item.active {
  background-color: var(--clr-primary-light);
}

.list-group-item {
  background-color: var(--clr-bg-light);
}
/* #endregion Skills */

/* #region Contact */
.contact-img {
  max-width: 100px;
  cursor: pointer;
  transition: 0.33s;
}

.contact-img:hover,
.contact-img:active,
.contact-img:focus {
  filter: brightness(3);
}
/* #endregion Contact */

/* #region Footer */
footer {
  padding-top: 80px;
  height: 125px;
}

.copyright {
  color: var(--clr-text-light);
  text-align: center;
}
/* #endregion Footer */

@media all and (min-width: 500px) {
  /* #region About */
  #about-body > p {
    margin: auto;
    padding-inline: 10%;
  }
  /* #endregion About */

  /* #region Projects */
  #project-body {
    margin: auto;
    max-width: 800px;
  }
  /* #endregion Projects */

  /* #region Skills */
  #skills-body {
    padding-inline: 10%;
  }
  /* #endregion Skills */

  /* #region Contact */
  #contact-body {
    padding-inline: 10%;
  }
  /* #endregion Contact */
}

@media all and (min-width: 1100px) {
  /* #region About */
  #about-body > p {
    padding-inline: 15%;
  }
  /* #endregion About */

  /* #region Projects */
  #project-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
  }

  .card {
    width: 500px !important;
  }
  /* #endregion Projects */

  /* #region Skills */
  #skills-body {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .list-group {
    width: 400px !important;
  }
  /* #endregion Skills */
}

@media all and (min-width: 1600px) {
  /* #region About */
  #about-body > p {
    padding-inline: 20%;
  }
  /* #endregion About */
}
