.projects-page-header {
  background-image: url("../images/header/header-projects.jpg");
  box-shadow: none;
}

.project {
  width: 100%;
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 2vh;
  transition: 0.4s;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.329));
  background-color: #fffef9;
}

.project:hover {
  transition: 0.4s;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
}

.project-header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.project-tech {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
}

.tech-img {
  margin: 1%;
  height: 70%;
}

.project-description {
  margin: 1rem;
}

.project-description a {
  color: black;
}

.project-description a:hover {
  transition: 0.2s;
  color: rgb(77, 77, 77);
}

@media all and (max-width: 768px) {
  header {
    height: 13vh;
  }

  .project-header {
    display: block;
    height: 4.3rem;
  }

  .project-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(179, 179, 179);
    text-decoration-thickness: 1px;
  }

  .project-tech {
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
  }
}
