.projects-page-header {
  background-image: url("../images/header/header-projects.jpg");
  box-shadow: none;
}

.project {
  padding-top: 10px;
  padding-bottom: 15px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.project-scope {
  color: rgba(38, 43, 47, 0.267);
}

.full-stack {
  color: rgba(35, 207, 20, 0.87);
}

.front-end {
  color: rgba(45, 129, 255, 0.836);
}

.back-end {
  color: rgba(231, 139, 19, 0.87);
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.project-img {
  max-height: 40vh;
}

.project-skills {
  list-style: none;
  text-align: right;
}

.project-skills li {
  padding-bottom: 5px;
}

.proj-a-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-right: 10px;
}

.proj-a-link:hover {
  color: rgb(73, 80, 83);
}

@media all and (max-width: 768px) {
  header {
    height: 13vh;
  }
  
  .project-img {
    max-width: 80vw;
  }

  .row {
    flex-direction: column;
  }

  .col-2 {
    flex: 100%;
    max-width: 100%;
  }
  .centered-p-parent {
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  }

  .project-skills {
    margin-top: 10px;
    text-align: left;
    list-style: square;
  }

  .project-links {
    display: flex;
    flex-direction: column;
  }

  .proj-a-link {
    padding-bottom: 7px;
  }
}
